@media only screen and (max-width: 688px) {

    .container{
        width: 100%;
    }
   .players, .blogs{
    grid-template-columns: repeat(1, 1fr);
   }

   .player, .blog{
    flex-direction: column;
   }

 .courses{
    display: none;
   }

   .course-section{
    display: none;
   }




}