/* Responsive for mobile devices  */

@media only screen and (max-width: 688px) {

    body{
        max-width: 85vw;
        box-sizing: border-box;
    }


    .container{
        width: 90%;
        padding: 30px;
        margin-left: 40px;
    }
   .players, .blogs, .courses{
    grid-template-columns: repeat(1, 1fr);
   }

   .player, .blog{
    flex-direction: column;
   }

   .course{
    margin-bottom: 30px;
   }

   .course-title{
    margin-bottom: 10px;
   }

   .couse-auther{
    margin: 0PX;
   }

   .course{
    width: 100%;
    padding: 0px 15px;
}
}


/* Responsive for tablate devices  */

@media only screen and (min-width:689PX) and (max-width:992px) {

    body{
        max-width: 85vw;
        box-sizing: border-box;
    }


    .container{
        width: 106%;
        padding: 30px;
        margin: 0px auto;
    }

    .players, .blogs, .courses{
        grid-template-columns: repeat(2, 1fr);
       }
}